
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


header {
  background-color:rgba(83, 29, 15, 0.705);
    width: 100%;
     background-repeat: repeat;
    clear: both;
    border:double; 
    border-width: 5px;
    
}


h1 {
  font-size: 50px;
  padding: 10px;
  color: #000000;
}

h2{
  font-size:60px;
  font-weight: bold;
  text-align: center;
  color:black;
  font-family: 'Source Code Pro', monospace;
  color: #000000;
  padding:15px;
}

h3{
  font-size:30px;
  font-weight: bold;
  text-align: center;
  font-family: 'blend';
  padding: 10px;
  color: #000000;
} 

#title {
 
  font-family: 'blend';
  color: #ca9966;
  font-size: 40px;
}
header div{
  position: relative;
}
div img{
  width: 630px;
  position: absolute;
  bottom: 65px;
  right: 25px;
  transform: rotate(345deg);
}

nav ul li a {
  /* vertical-align: top; */
  /* color: #ffffff; */
  text-decoration: none;
  display: subgrid;
  font-family: 'Dokdo', cursive;
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 30px;
  margin-top: 55px;
  /* float: right; */
}

header a{
  text-decoration: none;
  display: subgrid;
  font-family: 'Dokdo', cursive;
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 30px;
  margin-top: 20px;
}
body{
  width:1130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://www.desktopbackground.org/download/540x960/2014/04/19/749510_white-light-plain-backgrounds-wallpapers-image-2-puzzle-play_1920x1080_h.jpg); background-repeat: repeat;
}

main ul li{
  display: inline-block;
  margin-top: 100px;
  background-color:rgba(226, 57, 6, 0.603);
  border:double; 
  border-width: 3px;
  content: 1px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  color: #7a3507;  
} 

  
article{
  background-color:rgba(226, 57, 6, 0.603);
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  border:double; 
  border-width: 5px;
  content: 8px;
  margin-bottom:50px;
  margin-top:50px;
  width:1115px;
  color: #160f07;
  padding-bottom: 50px;
  padding-right:50px;
} 


p{
  width: 85%;
  padding-left:100px;
  font-size: 25px;
  color: #000000;
}



main ul li img{
  width:70%;
  position: relative;
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  padding:10px;
}



footer a{
  color: azure;
}


footer{
  background-color:rgba(83, 29, 15, 0.705);
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  border:double; 
  border-width: 100%;
  width:100%;
  content: 8px;
  margin-top:140px;
  color: #ca9966;
  height: 150px;
} 

table, tr, td {
  border:solid;
  font-family: 'Source Code Pro', monospace;
  border-color: rgba(54, 51, 5, 0.349);
  text-align: center;
  background-color: antiquewhite;

}

td{
  padding: 10px;
}

table{
 
  color: #160d02;
  background-color: rgba(0, 0, 0, 0.493);
  font-family: 'blend';
  padding: 1px;
  margin-top:25px;
  margin-bottom:25px;
}



